$dark-background-color: rgba(240,240,240,1);
$dark-field-background-color: rgba(245,245,245,1);
$dark-foreground-color: rgba(46,46,46,1);

@import 'sencha-touch/windows';
@import 'sencha-touch/windows/all';


